* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Turret Road", sans-serif;
  font-size: 20px;
  background-color: #000;
}

p {
  margin-bottom: 30px;
}

.texto-regular {
  font-weight: 400;
}

hr {
  background: rgba(255, 255, 255, 0.2);
}

/* ------------------------------------------------------ */
/* ANIMACIONES */
/* ------------------------------------------------------ */
@keyframes blueNeon {
  0%, 10%, 15%, 20%, 30%, 35%, 40%, 50%, 55%, 60%, 70%, 75%, 80%, 85%, 90%, 100% {
    text-shadow: 9px 9px 18px #3485ff, 3px 3px 5px #00246c, -3px -3px 5px #00246c, -9px -9px 27px #3485ff;
  }
  10%, 15%, 60% {
    text-shadow: none;
  }
}
@keyframes orangeNeon {
  0%, 10%, 15%, 20%, 30%, 35%, 40%, 50%, 55%, 60%, 70%, 75%, 80%, 85%, 90%, 100% {
    text-shadow: 0px -1px 4px #fff, 0px -2px 10px #ff0, 0px -10px 20px #ff8000;
  }
  10%, 15%, 60% {
    text-shadow: none;
  }
}
/* ------------------------------------------------------ */
/* HEADER */
/* ------------------------------------------------------ */
.encabezado {
  width: 100%;
  height: 100vh;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  background-image: url("../img/bg-header-black.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  box-shadow: inset 0 0 100px 150px rgba(0, 0, 0, 0.8);
}
.encabezado .encabezado__texto {
  color: #fff;
}
.encabezado .encabezado__texto .encabezado__icono {
  font-size: 60px;
  margin-bottom: 0;
  animation: orangeNeon 2s infinite alternate;
}
.encabezado .encabezado__texto .encabezado__titulo {
  font-weight: 700;
  font-size: 50px;
  animation: blueNeon 2s infinite alternate;
}
.encabezado .encabezado__texto .encabezado__titulo .encabezado__orange-neon {
  font-size: 60px;
  margin-bottom: 0;
  animation: orangeNeon 2s infinite alternate;
}
.encabezado .encabezado__texto .encabezado__descripcion {
  margin-top: 40px;
  font-size: 20px;
}
.encabezado .encabezado__texto .encabezado__descripcion:first-line {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 10px;
}
.encabezado .encabezado__texto .encabezado__btn {
  display: inline-block;
  padding: 15px 30px;
  border: 6px dotted #D79E5B;
  border-radius: 60px;
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  text-transform: uppercase;
  text-shadow: 0 -1px 4px #fff, 2px 2px 10px #FF0, 2px -2px 20px #ff8000;
  transition: 0.5s ease;
}
.encabezado .encabezado__texto .encabezado__btn:hover {
  text-shadow: none;
  border: 6px dotted rgba(255, 255, 255, 0.5);
}

/* ------------------------------------------------------ */
/* MAIN */
/* ------------------------------------------------------ */
main {
  color: #fff;
  width: 100%;
  min-height: 100vh;
  z-index: 100;
  position: relative;
  margin-top: 100vh;
}
main .contenedor {
  padding: 50px 0;
  width: 90%;
  max-width: 1000px;
  margin: auto;
}
main .contenedor .contenedor__subtitulo-h2 {
  margin-bottom: 50px;
  padding: 0;
  font-size: 50px;
  text-align: center;
  text-shadow: 0 0 15px rgba(255, 255, 255, 0.5), 0 0 10px rgba(255, 255, 255, 0.5);
}
main .contenedor p .contenedor__letra-capital {
  text-shadow: 0 0 15px rgba(255, 255, 255, 0.5), 0 0 10px rgba(255, 255, 255, 0.5);
  font-size: 55px;
  margin-right: 10px;
  line-height: 15px;
  font-family: serif;
}

/*# sourceMappingURL=styles.css.map */
